<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <style>
        .bgClass{
            background-color: aqua;
            color: white;
        }
        .redBg{
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>
    <div id="vueCss">
        <h3 :class="{bgClass:istrue, redBg:haserr}">Web Dev class is fun</h3>
        <h3 :class="[istrue ? blueBg : 'redBg']">conditional ? execute if true else false</h3>
        <!-- <h3 :class="[istrue ? blueBg : 'redBg', haserr ? bgRed:'']">conditional ? execute if true else false</h3> -->
        <!-- <h1 :style="{color:colorVal, fontSize:fontSizeVal}">Happy long weekend</h1> -->
        <h1 :style="h1Style">Happy long weekend</h1>
        <input type="text" v-model="name" >
        <input type="color" v-model="h1Style.color" >
        <input type="checkbox" v-model="haserr">
        <input type="range" step = "10" max="10000" min="1" v-model="fnt"/>
        <button v-on:click="chColour" type="button" >Colour</button>

    </div>
</body>
<script>
    let vueCss = new Vue({
        el:'#vueCss',
        data:{
            name:'Jake',
            blueBg:'bgClass',
            bgRed:'redBg',
            istrue:true,
            haserr:false,
            colorVal:'red',
            fontSizeVal:'40px',
            h1Style:{
                color:'pink',
                fontSize:'50px'
            },
            fnt:{fontSize:'20px'},
            num:40
        },
        methods:{
            chColour: function(){
                this.istrue = !this.istrue;
            },
            chNum: function(){
                this.h1Style.fontSize = this.num + "px";
            }
        },
        watch:{
            fnt:function(v){
                this.fnt=v;
                this.h1Style.fontSize = v + "px";
            }
        }
    })
</script>
</html>