<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="repeatCtrl">
            <input type="text" ng-model="studentName"/>
            <input type="text" ng-model="grade"/>
            <button type="button" ng-click="btnClick()">Add</button>
            <ul>
                <li ng-repeat="(key,value) in student">
                    {{key}}:{{value}}
                </li>
            </ul>
            <ul>
                <li ng-repeat="st in studentsArray">
                    {{st.name}}:{{st.course}}
                </li>
            </ul>
        </div>
    </div>
</body>
<script>
    let myApp = angular.module('myApp',[]);
    myApp.controller('repeatCtrl',($scope)=>{
        $scope.student = {
            "Mamiko":"HTML",
            "Lin":"PHP",
            "Matheus":"CSS"
        };
        $scope.students = new Map();
        $scope.students.set("Mamiko",[50,70,80]);
        $scope.students.set("test1",[50,70,80]);
        $scope.students.set("test2",[50,70,80]);
        
        $scope.updateArray = () =>{
            $scope.studentsArray = Array.from($scope.students,([name,course])=>({name,course}));
        }
        $scope.updateArray();
        $scope.btnClick = () =>{
            $scope.students.set($scope.studentName,$scope.grade);
            console.log($scope.students);
            $scope.updateArray();
            $scope.studentName = "";
            $scope.grade = "";
        }
    })
</script>
</html>